In [36]:
import pandas as pd

In [37]:
df_m = pd.read_csv('match_csv3.csv', low_memory=False, names=['fighter', 'opponent', 'fighter_result', 'date', 'event'])

In [38]:
df_f = pd.read_csv('fighter_csv3.csv', names=['id', 'fighter'])

In [39]:
df_e = pd.read_csv('errors_csv3.csv')

In [65]:
all_id_df = pd.concat([df_f, df_e])
all_id_df = all_id_df.reset_index()

In [71]:
all_id_df.drop('index', axis=1, inplace=True)

In [78]:
all_id_df[all_id_df.duplicated(keep=False)].sort_values('id')

                                     fighter      id type
21816                       Xavier Mondragon   23031  NaN
35011                         Chris  Torrice   37154  NaN
48243                              Mick Lens   51455  NaN
61720                             Adam Sears   65607  NaN
62126                         Sterling Evens   66026  NaN
62127                         Sterling Evens   66026  NaN
62618                          Daniel Harris   66539  NaN
62619                          Daniel Harris   66539  NaN
66839                            Matt Church   75023  NaN
66840                            Matt Church   75023  NaN
69591                           Ronny Gamboa   77879  NaN
69592                           Ronny Gamboa   77879  NaN
70540                          Zeka Sherifov   78862  NaN
70539                          Zeka Sherifov   78862  NaN
98033                             Corey Wood  128423  NaN
98034                             Corey Wood  128423  NaN
146622                                   NaN  128613    m
146621                                   NaN  128613    m
147015                                   NaN  128636    m
146634                                   NaN  128636    m
147231                                   NaN  129018    m
146635                                   NaN  129018    m
146900                                   NaN  129512    m
146899                                   NaN  129512    m
147014                                   NaN  129728    m
147232                                   NaN  129728    m
98469                          Daniela Souza  129729  NaN
98636                          Daniela Souza  129729  NaN
148922                                   NaN  132942    m
148923                                   NaN  132942    m
...                                      ...     ...  ...
159973                                   NaN  153864    m
117050                        Helton Cardoso  168883  NaN
178392                                   NaN  188197    e
178390                                   NaN  188197    e
178393                                   NaN  188198    m
178391                                   NaN  188198    m
126043                         Mihai Carstea  188349  NaN
126044                         Mihai Carstea  188349  NaN
178480                                   NaN  188350    m
178479                                   NaN  188350    m
126060                           Justin  Yeo  188379  NaN
126059                           Justin  Yeo  188379  NaN
178819                                   NaN  188988    m
178820                                   NaN  188988    m
178903                                   NaN  189143    m
178904                                   NaN  189143    m
179408                                   NaN  190060    m
179407                                   NaN  190060    m
179450                                   NaN  190140    m
179449                                   NaN  190140    m
182849                                   NaN  196580    m
130996  Francisco Gleison de Oliveira Araujo  198851  NaN
185369                                   NaN  201390    m
185368                                   NaN  201390    m
144988                          Jeamel Lopez  229431  NaN
204330                                   NaN  233808    m
226450                                   NaN  255928    m
248727                                   NaN  278205    m
270087                                   NaN  299565    m
313969                                   NaN  343447    m

[112 rows x 3 columns]

In [79]:
all_id_df.ix[21816]

fighter    Xavier Mondragon
id                    23031
type                    NaN
Name: 21816, dtype: object

In [81]:
all_id_df[all_id_df['fighter'] =='Xavier Mondragon']

                fighter     id type
21816  Xavier Mondragon  23031  NaN

In [83]:
23031
all_id_df[all_id_df['id'] ==23031]

                fighter     id type
21816  Xavier Mondragon  23031  NaN